<div class="vehicle-card col s12 m7">
    <h4 class="header">Vehicle Details - Model</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <blockquote>Please select Model</blockquote>
            <select>
              <option>Select Model</option>
              <option *ngFor="let model of vehicleModels.modelos" value="{{model.codigo}}">{{model.nome}}</option>
            </select>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" routerLink="/year">Get Year</a>
        </div>
      </div>
    </div>
  </div>