/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
}
.vehicle-card{
    max-width: 500px;
    margin: 0 auto;
}
.header{
    text-align: center;
}
.card-action{
    text-align: right;
}
select{
    border: 0px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 25px;
}
select:focus{
    outline: none;
}